body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: palevioletred;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Tiles */

    /* 1: Daniil*/
    .x2 {
        background-image: url("assets/daniil.png");
    }

    /* 2: Peter*/
    .x4 {
        background-image: url("assets/peter.png");
    }

    /* 3: Andrey */
    .x8 {
        background-image: url("assets/andrey.png");
    }

    /* 4: Eva */
    .x16{
        background-image: url("assets/eva.png");
    }

    /* 5: Yulia*/
    .x32{
        background-image: url("assets/yulia.png");
    }

    /* 6: Maria*/
    .x64{
        background-image: url("assets/maria.png");
    }

    /* 7: Khan*/
    .x128{
        background-image: url("assets/khan.png");
    }

    /* 8: Grace*/
    .x256{
        background-image: url("assets/grace.png");
    }

    /* 9: Klara */
    .x512{
        background-image: url("assets/klara.png");
    }

    /* 10: Sticky*/
    .x1024{
        background-image: url("assets/sticky.png");
    }

    /* 11: Murky*/
    .x2048{
        background-image: url("assets/murky.png");
    }

    /* 12: Artemy */
    .x4096 {
        background-image: url("assets/artemy.png");
    }

    /* 13: Aglaya */
    .x8192 {
        background-image: url("assets/aglaya.png");
    }